</main>
<footer class="app-footer bg-dark">
  <div class="container">
    <div class="row pt-3">
      <div class="col-12">
        <p class="lead text-center text-white">Funcionário do Mês. GPL License</p>
        <p class="text-center">

          <a href="https://facebook.com" class="text-center"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="https://twitter.com" class="text-center"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
</body>

</html>