</main>
<footer class="app-footer">
  <div class="container">
    <div class="row p-3">
      <div class="col-12">
        <p class="lead text-center">Funcionário do Mês. MIT</p>
      </div>
    </div>
  </div>
</footer>
<!-- Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>