<%- include partials/header %>
<section class="home pt-3">
  <div class="container">
    <div class="row justify-content-center align-items-center pt-5">
      <div class="col-xs-12 col-md-10">
        <h2>Sobre</h2>
        <p class="lead">Funcionário do Mês é um projeto que foi desenvolvido durante o 1º Amapá Hackfest, que tem como objetivo combater a corrupção informando dados de possíveis funcionários que possuem cargos acumulados no governo.</p>
        <h3>Equipe</h3>
        <ul>
          <li>Bruna Rychelle</li>
          <li>Diego</li>
          <li>Jessica Sodre</li>
          <li>Marcos Silva</li>
          <li>Natan</li>
          <li>Pedro Souza</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<%- include partials/footer %>