<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Funcionário do Mês</title>
</head>
<body class="landing">
    <header>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row  d-flex justify-content-center align-items-center py-5">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center text-white text-shadow">Funcionário do Mês</h1>
                    <p class="lead text-center text-white">
                        Ajudando o governo e a população a acabar com a corrupção no país através do cruzamento de dados de funcionários públicos afim de descobrir se os mesmos possuem mais de um cargo no governo.
                    </p>
                    <a href="/app" class="btn btn-danger p-3 text-shadow shadow">ACESSE AGORA</a>
                </div>
            </div>
            </div>
        </div>
    </header>
    <section class="container">
        <h3 class="text-center py-2 text-white text-shadow">Encontre todos os funcionários que possívelmente possuem acumulos de cargos no governo</h3>
        <img src="/images/opa.png" alt="" class="img-fluid mb-5">
    </section>
    <footer class="app-footer">
        <div class="container">
            <div class="row p-3">
                <div class="col-12">
                    <p class="lead text-center text-white text-shadow">Funcionário do Mês. GPL License</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>