body{
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
}
.app-datas .card{
 /* overflow-y: scroll; */
 height: 450px;
}
.top-header{
  background: url('../images/bg3.jpeg') center center;
  padding: 50px;
}
.uppercase{
  text-transform: uppercase;
}

.landing{
  font-family: 'Oswald', sans-serif;
  background: #6c5ce7;
}
.text-shadow{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
ul li a{
  font-size: 1.2rem;
}
.navbar-brand{
  font-size: 1.5rem;
}